.header {
    background-color:$color-secondary;
    color:white
}

.footer {
    background-color:$color-secondary;
    color:white
}

.artisan-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    transition:transform 0.2s;
}

&:hover {
    transform: translateY(-4px);
}

.searchbar__dropdown {
    border-color:#ddd; 
}

.search__item.active button {
    background-color:#f1f8fc; //charte
    text-decoration: none;
}

.search__item.button:focus {
   outline: 3px solid #82b864;
   outline-offset: 2px;
   text-decoration: none;
}